@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

:root {
  --modal-popup-padding: 30px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.btnOpenModal {
  width: 150px;
  height: 60px;
  background-color: #ea7f24;
  border: none;
  cursor: pointer;
}

.btnOpenModal:hover {
  background-color: #da7823;
}

.form__rule {
  width: 100%;
  /* min-height: 600px; */
  height: auto;
  position: relative;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.container__form {
  padding: var(--modal-popup-padding);
  padding-bottom: 0;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 400;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='number'] {
  width: 100%;
  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container__conditions {
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0;
}

.container__conditions .custom-select {
  margin: 0 10px;
}

.container__conditions h4 {
  margin-bottom: 20px;
}

.container__rule {
  background-color: #efefef;
  padding: var(--modal-popup-padding);
}

.container__rule-item {
  display: flex;
}

.container__rule-item .custom-select {
  margin-right: 10px;
}

.container__parameter {
  display: flex;
  width: 70%;
}

.container__parameter-controls {
  display: flex;
  margin: auto;
}

.container__parameter-controls * {
  padding: 0 0 0 15px;
  cursor: pointer;
}

.container__buttons {
  display: flex;
}

.container__buttons {
  /* position: absolute; */
  bottom: 40px;
  margin-top: 20px;
}

.btn {
  width: 150px;
  margin: 0 10px 0 0;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  filter: brightness(0.85);
}

.btn__confirm {
  background-color: #e68026;
}

.btn__cancel {
  background-color: #888888;
}
